@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  background-color:#010E21 ;
  color: #fefefe;
}

.gradient{
position: absolute;
width: 861px;
height: 861px;
left: calc(50% - 861px/2 - 117.5px);
top: calc(50% - 861px/2 + 166.5px);
background: rgba(24, 100, 255, 0.35);
opacity: 0.5;
filter: blur(200px);
transform: rotate(-19.25deg);
}

@font-face {
  font-family: Eina01-Bold;
  src: url("./assets/fonts/eina/Eina01-Bold.ttf") format("truetype");
}

@font-face {
  font-family: figtree;
  src: url("./assets/fonts/figtree/Figtree-Regular.ttf") format("truetype");
}
